@import '../variables.scss';

.hat{
    padding: 40px 0;
    text-align: right;
    animation-duration: 0.5s;
    animation-name: fade;
    background-color: #efefef;
    
    @keyframes fade {
        from {
         opacity: 0%;
    
        }
      
        to {
          opacity: 100%;
        }
    }
    
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 2px solid rgb(255, 255, 255);
        width: 100%;
        margin: 0 auto;
        &-right{
            justify-content: flex-end;
        }
    }

    &__buttons{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button{
        background-color: white;
        color: black;
        &_active{
            background-color: $main-color;
            color: white;
        }
    }
    &__title{
        color: $main-color;
        font-size: 2rem;
        font-weight: 700;
    }
}

@media (max-width: 1200px) {
}
@media (max-width: 991px) {
    .hat{
        &__button{
            font-size: 13px;
        }
    }
}
@media (max-width: 767px) {
    .hat{
        padding: 20px 10px;
        text-align: center;

        &__buttons {
            font-size: 12px;
        }
        &__header{
            flex-direction: column-reverse;
            align-items: center;
            margin-left: 14px;
        }
        &__title{
            margin-right: 0;
            font-size: 1.8rem;
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 575px) {
    .hat{
        padding: 15px 0;
        &__header{
            flex-direction: column-reverse;
            align-items: center;
            border-bottom: 2px solid rgb(242, 242, 242);
            width: 100%;
            margin: 0 auto;
        }
    
        &__buttons{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title{
            font-size: 1.5rem;
        }
    }
}